{:paths ["src/main/clojure" "target/classes" "clj-kondo"]

 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        prismatic/schema {:mvn/version "1.4.1"}}

 :aliases
 {;; Development REPL with all test deps
  :dev
  {:extra-paths ["src/test/clojure" "src/test/common" "src/test/java"]
   :extra-deps {org.clojure/math.combinatorics {:mvn/version "0.3.0"}
                org.clojure/data.fressian {:mvn/version "1.1.0"}
                org.clojure/clojurescript {:mvn/version "1.12.116"}
                clj-kondo/clj-kondo {:mvn/version "2025.04.07"}}
   :jvm-opts ["-Dclojure.compiler.warn-on-reflection=true"]}

  ;; Build tooling (jar, javac, deploy)
  :build
  {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}
          slipset/deps-deploy {:mvn/version "0.2.2"}}
   :ns-default build}

  ;; Default CLJ tests (excludes generative + performance)
  :test
  {:extra-paths ["src/test/clojure" "src/test/common"]
   :extra-deps {org.clojure/math.combinatorics {:mvn/version "0.3.0"}
                org.clojure/data.fressian {:mvn/version "1.1.0"}
                org.clojure/clojurescript {:mvn/version "1.12.116"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :jvm-opts ["-Dclojure.compiler.warn-on-reflection=true"]
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test/clojure" "-d" "src/test/common"
               "-r" "clara\\.(?!generative\\.|performance\\.).*"]}

  ;; Generative tests only
  :test-generative
  {:extra-paths ["src/test/clojure" "src/test/common"]
   :extra-deps {org.clojure/math.combinatorics {:mvn/version "0.3.0"}
                org.clojure/clojurescript {:mvn/version "1.12.116"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :jvm-opts ["-Dclojure.compiler.warn-on-reflection=true"]
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test/clojure"
               "-r" "clara\\.generative\\..*"]}

  ;; Performance tests only
  :test-performance
  {:extra-paths ["src/test/clojure" "src/test/common"]
   :extra-deps {org.clojure/math.combinatorics {:mvn/version "0.3.0"}
                org.clojure/data.fressian {:mvn/version "1.1.0"}
                org.clojure/clojurescript {:mvn/version "1.12.116"}
                io.github.cognitect-labs/test-runner
                {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :jvm-opts ["-Dclojure.compiler.warn-on-reflection=true"]
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "src/test/clojure" "-d" "src/test/common"
               "-r" "clara\\.performance\\..*"]}

  ;; CLJS test compilation: clojure -M:cljs-test -m cljs-build [simple|advanced]
  :cljs-test
  {:extra-paths ["src/test/clojure" "src/test/clojurescript" "src/test/common"]
   :extra-deps {org.clojure/clojurescript {:mvn/version "1.12.116"}}}}}
